﻿
<div class="panel-group category-products description" >
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-5 col-md-7">
                <label>Item</label>
                <fieldset>

                    <input type="checkbox" class="filled-in" id="checkbox2" ng-model="ChkNewItem" ng-change="ClickNewItem(ChkNewItem);">
                    <label for="checkbox2">New Only</label>
                </fieldset>
            </div>
            <div class="col-sm-7 col-md-5">
                <label class="control-label col-sm-4 col-md-3">Sort by</label>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <select class="form-control" ng-model="selectedRange" id="Selrange" ng-change="selectRange(selectedRange)">
                            <option value="">Featured</option>
                            <option value="0">Cash Price Low to High</option>
                            <option value="1">Cash Price High to Low</option>
                            <option value="2">Weekly Rate Low to High</option>
                            <option value="3">Weekly Rate High to Low</option>
                            <option value="4">Monthly Rate Low to High</option>
                            <option value="5">Monthly Rate High to Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="overflowprod">

        <div class="msg-text hide">
            <h2 class="title"><span class="text-danger">Sorry, </span> <small class="text-black">There are no new items in your current list of inventory.</small></h2>
            <p>Please uncheck New Only to see all available products.</p>
        </div>

        <div id="itemsDetail" ng-repeat="data in inventoryList | orderBy:filter" class="row bdrbtm">
            <div class="col-md-12">
                <h3 class="title">Brand Model Description</h3>
                <p><strong>Attribute :</strong>{{data.attribute }}</p>
                <p><strong>IMAGEurl :</strong>{{data.imageURL }}</p>
             
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7"><div class="media"><img src="{{data.imageURL }}" /></div></div>
                    <div class="col-md-5 pricelist">
                        <h3 class="title">Model : {{data.modelNumber }}</h3>
                        <ul class="listcost">
                            <li><small>Cash Price:</small><h3>${{data.price }}</h3></li>
                            <li><small>Weekly Rate:</small><h3>${{data.weeklyRate }}</h3><small>Own in 52 weeks</small></li>
                            <li><small>Monthly Rate:</small><h3>${{data.monthlyRate }}</h3><small>Own in 12 months</small></li>
                        </ul>
                        <div class="mt-2">
                            <a type="button" data-ng-click="selectitem(data);" class="btn-primary addcart">Add to Cart</a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






 
       


