﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head id="headSection"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }
    </style>
    <!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->

    <script src="assets/js/jquery-2.1.1.min.js"></script>
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>-->

    <script src="assets/js/bootstrap.min.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>-->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/customSelect.js"></script>
    <script src="app/js/angular-messages.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link href="assets/css/captchaStyle.css" rel="stylesheet" />
    <link href="assets/css/style2.css" rel="stylesheet" />
    <link href="assets/css/new.css" rel="stylesheet" />
    <custom-title></custom-title>
    <style>
        :root {
            <!--background:#33a7e3;-->
            --main-bg-color: #999999;
        }
    </style>
</head>
<body id="mainBody" style="overflow: inherit;" ng-cloak>

    <div ng-controller="mainCtrl">
        <div ng-if="!Loaded" class="text-center ajax-loader-custom">
            <img src="assets/img/ajax-loader.gif" />
        </div>
        <div ng-show="Loaded">
    
            <div>
                <div class="menubar-bg"></div>
                <div class="home"><a href="../index.html"><img src="assets/img/home_icon.png" /></a></div>
                <div class="sidebar">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="menu">
                        <li ng-show = "IsShopShow" class="Shopdisabled"><a href="../searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
                        <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
                        <li><a href="../index.html?payment=true"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
                        <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
                        <li><a href="../index.html?privacyPolicy=true" ><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>Privacy Policy</a></li>
                        <li><a href="../index.html?about=true"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
                    </ul>
                </div>

                <div class="login-logo">
                    <div class="main-logo "></div>
                </div>

                <div class="search-mob">
                    <div ng-view="">

                    </div>
                </div>
          </div>

        </div>
    </div>

<!--    <div class="footer-privacy" id="privacyDiv" ng-if="!privacyPolicyDisable">-->
    <div class="footer-privacy" id="privacyDiv" ng-if="privacyPolicyEnable">
        <center><p>By using this app you agree to our <a ng-click="redirectPrivacy()"> <u>Privacy Policy !</u>  &nbsp;&nbsp; </a><span class="fa fa-times" ng-click="removePrivacy()"></span> </p> </center>
    </div>

    <script type="text/javascript" src="https://pubsub-test.idealss.net/faye/client.js"></script>
    <script src="app/js/angular-route.js"></script>
    <script src="app/js/angular-cookies.js"></script>
    <script src="cordova.js"></script>
    <script src="assets/js/custome_menu.js"></script>
    <script src="app/js/SHA256.js"></script>
    <script src="app/js/utf8.js"></script>
    <script src="app/js/Base64.js"></script>
    <script src="app/js/payeezy_v3.2.js"></script>
<!--    <script src="https://pubsub-test.idealss.net/faye/client.js"></script>-->
    <script src="../app/service/sharedService.js"></script>
    <script src="app/app.js"></script>

    <!--<script src="app/services/cookiesService.js"></script>-->
    <script src="app/controllers/checkoutAllSelectedCtrl.js"></script>
    <script src="app/services/idealsApiService.js"></script>  
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/accountCtrl.js"></script>
    <script src="app/controllers/signupCtrl.js"></script>
    <script src="app/controllers/changeAccountCtrl.js"></script>
    <script src="app/controllers/retrvLoginCtrl.js"></script>
    <script src="app/controllers/checkOutCtrl.js"></script>
    <script src="app/directives/pwCheck.js"></script> 
    <script src="app/directives/yearDrop.js"></script>
    <script src="app/filters/strLimit.js"></script>
    <script src="app/directives/titleDrct.js"></script>
    <script src="app/directives/autoFocusDrct.js"></script>
    <script src="app/directives/restrictField.js"></script>
    <script src="app/controllers/accountChgCtrl.js"></script>
    <script src="app/controllers/makePaymentCtrl.js"></script>
    <script src="app/controllers/paymentHistoryCtrl.js"></script>
    <script src="app/controllers/printPaymentHistoryCtrl.js"></script>
    <script src="app/controllers/printoutCtrl.js"></script>
    <script src="app/controllers/paymentDeclineCtrl.js"></script>
    <script src="app/controllers/reportIssueCtrl.js"></script>
    <script src="app/controllers/errorCtrl.js"></script>
    <script src="app/controllers/errorMsgCtrl.js"></script>
    <script src="app/filters/range.js"></script>
    <script src="app/directives/cardExpiration.js"></script>
</body>
</html>



