

<div class="navbar-bg"></div>
<div>
    <div class="menubar-bg"></div>
    <div class="home"><a href="index.html"><img src="assets/img/home_icon.png"/></a></div>

    <div class="sidebar">
        <div id="nav-icon" ng-click="start();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li ng-show = "IsShopShow" class="ShopDisabled"><a href="searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
            <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
            <li ng-disabled="condition"><a href="" ng-click="clickToChat()"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
            <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li><a href="#privacyPolicy" ><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>Privacy Policy</a></li>
            <li><a href="" ng-click="about();"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
        </ul>
    </div>



</div>
<!--</div>-->
<div class="policy-info">

    <!--        <iframe src="https://static.test.idealss.net/chetu1/tac.txt" class="policy-iframe"></iframe>-->
    <iframe ng-src="{{privacyUrl}}" class="policy-iframe"></iframe>
</div>