*{
	box-sizing:border-box;
}
body{
	font-size:14px;
	line-height:20px;
	margin:0px;
	padding:0px;
	color:#555555;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

.navbar-bg {
     background: #33a7e3;
     float: left;
     height: 60px;
     position: fixed;
     z-index:1;
     top: 0;
     left: 0;
     right: 0;
 }

.menubar-bg {
    background: #33a7e3;
    float: left;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;
}
 .sidebar{
 	position:fixed;
     top: 0;
 	left:-200px;
 	right:0px;
 	width:200px;
 	background-color:#33a7e3;
 	transition: all 0.5s ease-in-out;
 	height:100%;
     z-index: 999999;
     top:0;
 }
 .sidebar.open{
 	left:0;
     box-shadow: 10px 0 200px #000;
 }
 #nav-icon{
    width: 45px;
    height: 60px;
   position: absolute;
   padding: 0px;
   cursor: pointer;
   background-color:#33a7e3;
   right:-45px;
 }

 #nav-icon span{
   display: block;
   position: absolute;
   height: 4px;
   width: 32px;
   background: #fff;
   border-radius: 9px;
   opacity: 1;
   left: 6px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
 }

 #nav-icon span:nth-child(1) {
   top: 17px;
 }

 #nav-icon span:nth-child(2) {
   top: 27px;
 }

 #nav-icon span:nth-child(3) {
   top: 37px;
 }

 .sidebar.open #nav-icon span:nth-child(1) {
   top: 27px;
 }
 .sidebar.open #nav-icon span:nth-child(2) {
   width:0px;
   left:50%;
 }
 .sidebar.open #nav-icon span:nth-child(3) {
   top: 27px;
 }
 .sidebar.open #nav-icon span:nth-child(1) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 .sidebar.open #nav-icon span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }
 .menu{
 	margin:0px;
 	padding:0px;
 	list-style-type:none;
 	box-sizing:border-box;
 }

 .menu li{
 	margin:0px 10px;
 	padding:0;
 	border-bottom:solid 1px #2192cd;
 }
 .menu li:last-child{
 	border:none;
 }
 .menu li a{
 	color:#fff;
 	text-decoration:none;
 	font-size:14px;
 	font-family:arial;
 	display:block;
 	padding:10px 0px;
 	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
 }
 .menu li a:hover{
 	color:#000;
 	padding-left:10px;
 }
 .menu li a .fa{
 	margin-right:10px;
 }
 .search-mob {
     position: relative;
     top: 40px;
 }
.pull-right{
	float:right !important;
}
.btn{
	background-color:#337ab7;
	border:none;
	color:#fff;
	line-height:44px;
	margin-top:2px;
	cursor:pointer;
	display:block;
	width:100%;
	border-radius:3px;
	font-size:0.90rem;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
}
.btn:hover{
	background-color:#4f96d3;
}
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
  position: relative;
  padding-left: 2.3em;
  cursor: pointer;
  padding-top:4px;
  color:#000;
}
/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.5em; height: 1.5em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
.custom-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/******************** CHAT PAGE *************************/

.m-t-10{
	margin-top:10px;
}
.m-t-15{
	margin-top:15px;
}
.m-t-20{
	margin-top:20px;
}
.m-b-5{
	margin-bottom:5px;
}
.m-b-10{
	margin-bottom:10px;
}
.p-l-r-10{
	padding-left:10px;
	padding-right:10px;
}
.p-l-r-20{
	padding-left:20px;
	padding-right:20px;
}
.page-container{
	max-width:500px;
	margin:0px auto;
	padding:50px 20px 20px 20px;
}
.block-area {
    width: 100%;
    background: #fff;
	position:relative;
	box-shadow: 1px 1px 12px #bbb;
}
.login-icon{
	position:absolute;
	top:12px;
	left:15px;
	z-index:1;
}
h1 {
    background-color:#33a7e3;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
    padding: 10px 10px 10px 45px;
    position: relative;
}
a{
	color:#33a7e3;
}
a:hover{
	text-decoration:none;
}
.block{
    padding: 40px;
    width: 100%;
}
.row{
	display:inline-block;
	width:100%;
	margin-bottom:10px;
}
.col-4 {
    width: 33.3333%;
	float:left;
}
.col-8 {
    width: 66.6667%;
	float:left;
}
.col-12 {
    width: 100%;
	float:left;
}
.text-entry {
    width: 100%;
    box-sizing: border-box;
    line-height: 18px;
    border-radius: 3px;
	resize: none;
	border:solid 1px #ddd;
	padding:8px 5px;
	font-family: "Roboto",sans-serif;
	color:#555555;
}
.custom-dropdown{
	width: 100%;
    box-sizing: border-box;
    line-height: 18px;
    border-radius: 3px;
	resize: none;
	border:solid 1px #ddd;
	padding:8px 5px;
	font-family: "Roboto",sans-serif;
	color:#555555;
}
.button-div{
	width:25%;
	margin:0px auto;
	float:right;
}
.control-label{
	margin-top:10px;
	display: inline-block;
	color:#000;
}








@media screen and (max-width: 480px){
	.block{
		padding: 20px 15px;
	}
	.control-label, a.control-label{
		margin:0px 0px 5px 0px;
	}
	.button-div{
		width:100%;
		float:right;
	}
	.col-4,.col-8{
		width:100%;
	}
	a.control-label{
		margin-bottom:20px;
		margin-top:10px;
	}
}

